/**
  module: @animations
*/

:root {
  --duration-very-fast: 0.25s;
  --duration-fast: 0.5s;
  --duration-normal: 1s;
  --duration-slow: 2s;
  --duration-very-slow: 2.5s;
  --duration-bind-slow: 3s;
  --duration-super-slow: 5s;
}

@import "./animations/all.css";
@import "./animations/large.css";
@import "./animations/medium.css";
@import "./animations/mobile-landscape.css";
@import "./animations/not-small.css";
