.normal {
  font-weight: normal;
}
.b {
  font-weight: bold;
}
.fw1 {
  font-weight: 100;
}
.fw2 {
  font-weight: 200;
}
.fw3 {
  font-weight: 300;
}
.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.fw7 {
  font-weight: 700;
}
.fw8 {
  font-weight: 800;
}
.fw9 {
  font-weight: 900;
}

@media screen and (min-width: 30em) {
  .normal-ns {
    font-weight: normal;
  }
  .b-ns {
    font-weight: bold;
  }
  .fw1-ns {
    font-weight: 100;
  }
  .fw2-ns {
    font-weight: 200;
  }
  .fw3-ns {
    font-weight: 300;
  }
  .fw4-ns {
    font-weight: 400;
  }
  .fw5-ns {
    font-weight: 500;
  }
  .fw6-ns {
    font-weight: 600;
  }
  .fw7-ns {
    font-weight: 700;
  }
  .fw8-ns {
    font-weight: 800;
  }
  .fw9-ns {
    font-weight: 900;
  }
}

@media screen and (max-width: 60em) and (orientation: landscape) {
  .normal-ml {
    font-weight: normal;
  }
  .b-ml {
    font-weight: bold;
  }
  .fw1-ml {
    font-weight: 100;
  }
  .fw2-ml {
    font-weight: 200;
  }
  .fw3-ml {
    font-weight: 300;
  }
  .fw4-ml {
    font-weight: 400;
  }
  .fw5-ml {
    font-weight: 500;
  }
  .fw6-ml {
    font-weight: 600;
  }
  .fw7-ml {
    font-weight: 700;
  }
  .fw8-ml {
    font-weight: 800;
  }
  .fw9-ml {
    font-weight: 900;
  }
}

@media screen and (min-width: 60em) {
  .normal-l {
    font-weight: normal;
  }
  .b-l {
    font-weight: bold;
  }
  .fw1-l {
    font-weight: 100;
  }
  .fw2-l {
    font-weight: 200;
  }
  .fw3-l {
    font-weight: 300;
  }
  .fw4-l {
    font-weight: 400;
  }
  .fw5-l {
    font-weight: 500;
  }
  .fw6-l {
    font-weight: 600;
  }
  .fw7-l {
    font-weight: 700;
  }
  .fw8-l {
    font-weight: 800;
  }
  .fw9-l {
    font-weight: 900;
  }
}
