@media screen and (min-width: 30em) and (max-width: 60em) {
  .br0-m {
    border-radius: 0;
  }
  .br1-m {
    border-radius: 0.125rem;
  }
  .br2-m {
    border-radius: 0.25rem;
  }
  .br3-m {
    border-radius: 0.5rem;
  }
  .br4-m {
    border-radius: 1rem;
  }
  .br5-m {
    border-radius: 2rem;
  }
  .br-100-m {
    border-radius: 100%;
  }
  .br-pill-m {
    border-radius: 9999px;
  }
  .br--bottom-m {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .br--top-m {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .br--right-m {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .br--left-m {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
