@media screen and (min-width: 30em) {
  .br0-ns {
    border-radius: 0;
  }
  .br1-ns {
    border-radius: 0.125rem;
  }
  .br2-ns {
    border-radius: 0.25rem;
  }
  .br3-ns {
    border-radius: 0.5rem;
  }
  .br4-ns {
    border-radius: 1rem;
  }
  .br5-ns {
    border-radius: 2rem;
  }
  .br-100-ns {
    border-radius: 100%;
  }
  .br-pill-ns {
    border-radius: 9999px;
  }
  .br--bottom-ns {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .br--top-ns {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .br--right-ns {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .br--left-ns {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
