/**
  @box-shadow: medium screen
*/
@media screen and (min-width: 30em) and (max-width: 60em) {
  .shadow-t-0-m {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  }
  .shadow-t-0s-m {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
  }
  .shadow-t-1-m {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
  }
  .shadow-t-1s-m {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.05);
  }
  .shadow-t-2-m {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  }
  .shadow-t-2s-m {
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.05);
  }

  .shadow-l-0-m {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
  }
  .shadow-l-0s-m {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.075);
  }
  .shadow-l-1-m {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.075);
  }
  .shadow-l-1s-m {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.075);
  }
  .shadow-l-2-m {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.075);
  }
  .shadow-l-2s-m {
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.075);
  }

  .shadow-r-0-m {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  .shadow-r-0s-m {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  }
  .shadow-r-1-m {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .shadow-r-1s-m {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
  }
  .shadow-r-2-m {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  }
  .shadow-r-2s-m {
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.1);
  }

  .shadow-m-0-m {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  }
  .shadow-m-0s-m {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  }
  .shadow-m-1-m {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  }
  .shadow-m-1s-m {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.15);
  }
  .shadow-m-2-m {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  }
  .shadow-m-2s-m {
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.15);
  }

  .shadow-b-0-m {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  .shadow-b-0s-m {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  }
  .shadow-b-1-m {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .shadow-b-1s-m {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
  }
  .shadow-b-2-m {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
  }
  .shadow-b-2s-m {
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.2);
  }
}
