@media screen and (max-width: 60em) and (orientation: landscape) {
  .shadow-t-0-ml {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  }
  .shadow-t-0s-ml {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
  }
  .shadow-t-1-ml {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
  }
  .shadow-t-1s-ml {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.05);
  }
  .shadow-t-2-ml {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  }
  .shadow-t-2s-ml {
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.05);
  }

  .shadow-l-0-ml {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
  }
  .shadow-l-0s-ml {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.075);
  }
  .shadow-l-1-ml {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.075);
  }
  .shadow-l-1s-ml {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.075);
  }
  .shadow-l-2-ml {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.075);
  }
  .shadow-l-2s-ml {
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.075);
  }

  .shadow-r-0-ml {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  .shadow-r-0s-ml {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  }
  .shadow-r-1-ml {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .shadow-r-1s-ml {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
  }
  .shadow-r-2-ml {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  }
  .shadow-r-2s-ml {
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.1);
  }

  .shadow-m-0-ml {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  }
  .shadow-m-0s-ml {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  }
  .shadow-m-1-ml {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  }
  .shadow-m-1s-ml {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.15);
  }
  .shadow-m-2-ml {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  }
  .shadow-m-2s-ml {
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.15);
  }

  .shadow-b-0-ml {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  .shadow-b-0s-ml {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  }
  .shadow-b-1-ml {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .shadow-b-1s-ml {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
  }
  .shadow-b-2-ml {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
  }
  .shadow-b-2s-ml {
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.2);
  }
}
