/**
  @animations: keyframes
*/
@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom-out-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide-to-top {
  0% {
    transform: translateY(5em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out-in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-to-top {
  0% {
    transform: translateY(5em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-to-right {
  0% {
    transform: translateX(-5em);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-to-bottom {
  0% {
    transform: translateY(-5em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-to-left {
  0% {
    transform: translateX(5em);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-toggle-top {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.5em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-toggle-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2.5em);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-toggle-bottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2.5em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-toggle-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2.5em);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-0.025rem, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(0.5rem, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-1rem, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(1rem, 0, 0);
  }
}
@keyframes wobble {
  16.65% {
    transform: translateY(2rem);
  }
  33.3% {
    transform: translateY(-1.5rem);
  }
  49.95% {
    transform: translateY(1rem);
  }
  66.6% {
    transform: translateY(-0.5rem);
  }
  83.25% {
    transform: translateY(0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tilt-right {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(15deg) scale(1.2);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
@keyframes tilt-left {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(-15deg) scale(1.2);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
