@media screen and (min-width: 60em) {
  .a-zoom-in-out-l {
    animation: zoom-in-out var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-zoom-out-in-l {
    animation: zoom-out-in var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-fade-in-l {
    animation: fade-in var(--duration-normal) ease;
  }
  .a-fade-out-l {
    animation: fade-out var(--duration-normal) ease;
  }
  .a-fade-in-out-l {
    animation: fade-in-out var(--duration-normal) ease;
  }
  .a-fade-out-in-l {
    animation: fade-out-in var(--duration-normal) ease;
  }
  .a-slide-to-top-l {
    animation: slide-to-top var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-slide-to-right-l {
    animation: slide-to-right var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-slide-to-bottom-l {
    animation: slide-to-bottom var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-slide-to-left-l {
    animation: slide-to-left var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-slide-toggle-top-l {
    animation: slide-toggle-top var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-slide-toggle-right-l {
    animation: slide-toggle-right var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-slide-toggle-bottom-l {
    animation: slide-toggle-bottom var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-slide-toggle-right-l {
    animation: slide-toggle-right var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-shake-l {
    animation: shake var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-wobble-l {
    animation: wobble var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-rotate-l {
    animation: rotate var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-tilt-right-l {
    animation: tilt-right var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-tilt-left-l {
    animation: tilt-left var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-reset-l.e-tigger,
  .a-reset-l.e-active:active,
  .a-reset-l.e-hover:hover {
    animation-name: none;
  }

  .a-vf-l {
    animation-duration: var(--duration-very-fast);
  }
  .a-f-l {
    animation-duration: var(--duration-fast);
  }
  .a-n-l {
    animation-duration: var(--duration-normal);
  }
  .a-s-l {
    animation-duration: var(--duration-slow);
  }
  .a-vs-l {
    animation-duration: var(--duration-very-slow);
  }
  .a-bs-l {
    animation-duration: var(--duration-bind-slow);
  }
  .a-ss-l {
    animation-duration: var(--duration-super-slow);
  }

  .a-normal-l {
    animation-direction: normal;
  }
  .a-reverse-l {
    animation-direction: reverse;
  }
  .a-alternate-l {
    animation-direction: alternate;
  }
  .a-alternate-reverse-l {
    animation-direction: alternate-reverse;
  }

  .a-ease-l {
    animation-timing-function: ease;
  }
  .a-ease-in-l {
    animation-timing-function: ease-in;
  }
  .a-ease-out-l {
    animation-timing-function: ease-out;
  }
  .a-ease-in-out-l {
    animation-timing-function: ease-in-out;
  }
  .a-linear-l {
    animation-timing-function: linear;
  }
  .a-step-start-l {
    animation-timing-function: step-start;
  }
  .a-step-end-l {
    animation-timing-function: step-end;
  }

  .a-infinite-l {
    animation-iteration-count: infinite;
  }
  .a-2s-l {
    animation-iteration-count: 2;
  }
  .a-3s-l {
    animation-iteration-count: 3;
  }
  .a-4s-l {
    animation-iteration-count: 4;
  }
  .a-5s-l {
    animation-iteration-count: 5;
  }
  .a-10s-l {
    animation-iteration-count: 10;
  }

  .a-paused-l {
    animation-play-state: paused;
  }
  .a-running-l {
    animation-play-state: running;
  }

  .a-fill-none-l {
    animation-fill-mode: none;
  }
  .a-fill-forwards-l {
    animation-fill-mode: forwards;
  }
  .a-fill-backwards-l {
    animation-fill-mode: backwards;
  }
  .a-fill-both-l {
    animation-fill-mode: both;
  }

  .a-delay-vf-l {
    animation-delay: var(--duration-very-fast);
  }
  .a-delay-f-l {
    animation-delay: var(--duration-fast);
  }
  .a-delay-n-l {
    animation-delay: var(--duration-normal);
  }
  .a-delay-s-l {
    animation-delay: var(--duration-slow);
  }
  .a-delay-vs-l {
    animation-delay: var(--duration-very-slow);
  }

  .a--zoom-in-out-l {
    animation-name: zoom-in-out;
  }
  .a--zoom-out-in-l {
    animation-name: zoom-out-in;
  }
  .a--fade-in-l {
    animation-name: fade-in;
  }
  .a--fade-out-l {
    animation-name: fade-out;
  }
  .a--fade-in-out-l {
    animation-name: fade-in-out;
  }
  .a--fade-out-in-l {
    animation-name: fade-out-in;
  }
  .a--slide-to-top-l {
    animation-name: slide-to-top;
  }
  .a--slide-to-right-l {
    animation-name: slide-to-right;
  }
  .a--slide-to-bottom-l {
    animation-name: slide-to-bottom;
  }
  .a--slide-to-left-l {
    animation-name: slide-to-left;
  }
  .a--slide-toggle-top-l {
    animation-name: slide-toggle-top;
  }
  .a--slide-toggle-right-l {
    animation-name: slide-toggle-right;
  }
  .a--slide-toggle-bottom-l {
    animation-name: slide-toggle-bottom;
  }
  .a--slide-toggle-left-l {
    animation-name: slide-toggle-left;
  }
  .a--shake-l {
    animation-name: shake;
  }
  .a--wobble-l {
    animation-name: wobble;
  }
  .a--rotate-l {
    animation-name: rotate;
  }
  .a--tilt-right-l {
    animation-name: tilt-right;
  }
  .a--tilt-left-l {
    animation-name: tilt-left;
  }
  .a-none-l {
    animation: none;
  }
}
