/**
  @animations: medium screen
*/
@media screen and (min-width: 30em) and (max-width: 60em) {
  .a-zoom-in-out-m {
    animation: zoom-in-out var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-zoom-out-in-m {
    animation: zoom-out-in var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-fade-in-m {
    animation: fade-in var(--duration-normal) ease;
  }
  .a-fade-out-m {
    animation: fade-out var(--duration-normal) ease;
  }
  .a-fade-in-out-m {
    animation: fade-in-out var(--duration-normal) ease;
  }
  .a-fade-out-in-m {
    animation: fade-out-in var(--duration-normal) ease;
  }
  .a-slide-to-top-m {
    animation: slide-to-top var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-slide-to-right-m {
    animation: slide-to-right var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-slide-to-bottom-m {
    animation: slide-to-bottom var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-slide-to-left-m {
    animation: slide-to-left var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-slide-toggle-top-m {
    animation: slide-toggle-top var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-slide-toggle-right-m {
    animation: slide-toggle-right var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-slide-toggle-bottom-m {
    animation: slide-toggle-bottom var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-slide-toggle-right-m {
    animation: slide-toggle-right var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-shake-m {
    animation: shake var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-wobble-m {
    animation: wobble var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-rotate-m {
    animation: rotate var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-tilt-right-m {
    animation: tilt-right var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-tilt-left-m {
    animation: tilt-left var(--duration-normal) ease,
      fade-in var(--duration-normal) ease;
  }
  .a-reset-m.e-tigger,
  .a-reset-m.e-active:active,
  .a-reset-m.e-hover:hover {
    animation-name: none;
  }

  .a-vf-m {
    animation-duration: var(--duration-very-fast);
  }
  .a-f-m {
    animation-duration: var(--duration-fast);
  }
  .a-n-m {
    animation-duration: var(--duration-normal);
  }
  .a-s-m {
    animation-duration: var(--duration-slow);
  }
  .a-vs-m {
    animation-duration: var(--duration-very-slow);
  }
  .a-bs-m {
    animation-duration: var(--duration-bind-slow);
  }
  .a-ss-m {
    animation-duration: var(--duration-super-slow);
  }

  .a-normal-m {
    animation-direction: normal;
  }
  .a-reverse-m {
    animation-direction: reverse;
  }
  .a-alternate-m {
    animation-direction: alternate;
  }
  .a-alternate-reverse-m {
    animation-direction: alternate-reverse;
  }

  .a-ease-m {
    animation-timing-function: ease;
  }
  .a-ease-in-m {
    animation-timing-function: ease-in;
  }
  .a-ease-out-m {
    animation-timing-function: ease-out;
  }
  .a-ease-in-out-m {
    animation-timing-function: ease-in-out;
  }
  .a-linear-m {
    animation-timing-function: linear;
  }
  .a-step-start-m {
    animation-timing-function: step-start;
  }
  .a-step-end-m {
    animation-timing-function: step-end;
  }

  .a-infinite-m {
    animation-iteration-count: infinite;
  }
  .a-2s-m {
    animation-iteration-count: 2;
  }
  .a-3s-m {
    animation-iteration-count: 3;
  }
  .a-4s-m {
    animation-iteration-count: 4;
  }
  .a-5s-m {
    animation-iteration-count: 5;
  }
  .a-10s-m {
    animation-iteration-count: 10;
  }

  .a-paused-m {
    animation-play-state: paused;
  }
  .a-running-m {
    animation-play-state: running;
  }

  .a-fill-none-m {
    animation-fill-mode: none;
  }
  .a-fill-forwards-m {
    animation-fill-mode: forwards;
  }
  .a-fill-backwards-m {
    animation-fill-mode: backwards;
  }
  .a-fill-both-m {
    animation-fill-mode: both;
  }

  .a-delay-vf-m {
    animation-delay: var(--duration-very-fast);
  }
  .a-delay-f-m {
    animation-delay: var(--duration-fast);
  }
  .a-delay-n-m {
    animation-delay: var(--duration-normal);
  }
  .a-delay-s-m {
    animation-delay: var(--duration-slow);
  }
  .a-delay-vs-m {
    animation-delay: var(--duration-very-slow);
  }

  .a--zoom-in-out-m {
    animation-name: zoom-in-out;
  }
  .a--zoom-out-in-m {
    animation-name: zoom-out-in;
  }
  .a--fade-in-m {
    animation-name: fade-in;
  }
  .a--fade-out-m {
    animation-name: fade-out;
  }
  .a--fade-in-out-m {
    animation-name: fade-in-out;
  }
  .a--fade-out-in-m {
    animation-name: fade-out-in;
  }
  .a--slide-to-top-m {
    animation-name: slide-to-top;
  }
  .a--slide-to-right-m {
    animation-name: slide-to-right;
  }
  .a--slide-to-bottom-m {
    animation-name: slide-to-bottom;
  }
  .a--slide-to-left-m {
    animation-name: slide-to-left;
  }
  .a--slide-toggle-top-m {
    animation-name: slide-toggle-top;
  }
  .a--slide-toggle-right-m {
    animation-name: slide-toggle-right;
  }
  .a--slide-toggle-bottom-m {
    animation-name: slide-toggle-bottom;
  }
  .a--slide-toggle-left-m {
    animation-name: slide-toggle-left;
  }
  .a--shake-m {
    animation-name: shake;
  }
  .a--wobble-m {
    animation-name: wobble;
  }
  .a--rotate-m {
    animation-name: rotate;
  }
  .a--tilt-right-m {
    animation-name: tilt-right;
  }
  .a--tilt-left-m {
    animation-name: tilt-left;
  }
  .a-none-m {
    animation: none;
  }
}
