@media screen and (min-width: 30em) {
  .bg-center-ns {
    background-repeat: no-repeat;
    background-position: center center;
  }
  .bg-top-ns {
    background-repeat: no-repeat;
    background-position: top center;
  }
  .bg-right-ns {
    background-repeat: no-repeat;
    background-position: center right;
  }
  .bg-bottom-ns {
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  .bg-left-ns {
    background-repeat: no-repeat;
    background-position: center left;
  }
}
